<%- include('block/header.ejs') %>
<!-- Main -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">Register</h1>
      <form action="/user/update" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            value="<%= user.email %>"
          />
          <input type="hidden" name="id" value="<%= user.id %>">
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            aria-describedby="username"
            value="<%= user.username %>"
          />
          <div id="username" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- End main -->
<%- include('block/footer.ejs') %>
